POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PASSWORD=

DB_HOST=

SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=
INTERNAL_IPS=

SQL_OPTIONS="-c search_path=public,..."

DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_EMAIL=

ORIGINS=http://localhost:8000