fastapi==0.115.6
loguru==0.7.3
alembic==1.14.0
uvicorn==0.32.0
pydantic-settings==2.8.1
asyncpg==0.30.0
psycopg2_binary==2.9.10
pydantic==2.10.3
python-multipart==0.0.20
orjson==3.10.16
aio-pika==9.5.5