annotated-types==0.7.0
anyio==4.7.0
dnspython==2.7.0
greenlet==3.1.1
gunicorn==23.0.0
httpcore==1.0.7
httpx==0.28.1
orjson==3.10.11
pydantic==2.7.4
pydantic-settings==2.6.1
pydantic_core==2.18.4
starlette==0.41.3
uvicorn==0.32.0
aiohttp==3.11.11
backoff==2.2.1
beanie==1.29.0
motor==3.7.0
pymongo==4.9.0
python-logstash==0.4.8
loguru==0.7.3
aiokafka==0.12.0